
/*.mydiv {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    margin: 10px 7%;*/
/*    box-shadow: 1px 1px 5px grey;*/
/*    padding: 10px;*/
/*}*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.gallery img {
    margin    : 3em;
    border    : 0.2em solid #332D2A;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 255, 0.3);
    max-width : 15vw;

}